@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: #FFFFFF ;
	font-family: "Lato" ;
}

article {
	position: absolute;
	height: 90%;
	width: 99%;
	top: 40px;
}

hr {
	display: block;
	margin-before: 0.5em;
	margin-after: 0.5em;
	margin-start: auto;
	margin-end: auto;
	border-style: inset;
	border-width: 1px; 
	width: 99%;
}

#chars {
	position: absolute;
	opacity: 0.6;
	right: 2%;
}

#chars input {
	font-family: "Lato";
	color: gray;
	font-size: 90%;
	border: 0px;
}

#newpost {
	width: 100%;
	height: 100%;
}

#subject input{
	width: 100%;
	border: 0px;
	font-size: 250%;
	font-style: italic;
	color: gray;
	text-decoration: none;
	font-family: "Lato";
}

#subject textarea:focus, input:focus{
    outline: 0;
}

#content textarea{
	width: 100vw;
    height: 75vh;
	border: 0px;
    bottom: 100px;
	font-size: 200%;
	font-style: italic;
	color: gray;
	resize: none;
	text-decoration: none;
	font-family: "Lato";
}

#content textarea:focus, input:focus{
    outline: 0;
}