@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
  background: #FFFFFF ;
	font-family: "Lato" ;
  margin: 0;
}    
#wrapper {
  width: 100%;
  margin: 0 auto;
}
#leftcolumn, #rightcolumn {
  position: absolute;
  top: 40px;
  bottom: 0px;
  color: black;
}
#leftcolumn {
  left: 0px;
  bottom: 0px;
  width: 65%;
  margin-left: 5%;
  margin-right: 0%;
}
#rightcolumn {
  right: 0px;
  width: 30%;
  border-left: dotted #cfd2db;
  background-color: #f3f6ff;
}

#leftcolumn h1, h2 {
  color: gray;
}

#leftcolumn h1 {
  font-size: 200%
}
#leftcolumn h2 {
  font-size: 100%
}

#rightcolumn h1, h2 {
  color: gray;
  text-align: center;
}

#rightcolumn h1 {
  font-size: 200%
}

#rightcolumn h2 {
  font-size: 100%
}

#create-comm textarea[type="text"] {
  border-radius: 7px 7px 0px 0px ;
  border: 0;
  resize: none;
  font-family: "Lato";
  font-style: italic;
  color: gray;
  padding: 5px;
  width: 85%;
  height: 10%;
  position: absolute;
  margin-bottom: 5%;
  margin: 5%;
  bottom: 0px;
  background-color: rgba(256, 256, 256, 0.4);
}

#newreply textarea[type="text"] {
  border-radius: 7px 7px 0px 0px ;
  border: 0;
  resize: none;
  font-family: "Lato";
  font-style: italic;
  color: gray;
  padding: 5px;
  width: 70%;
  height: 10%;
  left: 25%;
  right: 0%;
  margin-top: 5px;
  position: relative;
  background-color: rgba(256, 256, 256, 0.4);
}

dl#posts-array {
  position: relative;
  bottom: 0px;
  height: 80%;
  margin: 0;
  overflow:hidden; 
  overflow-y:auto;
}

dl#posts-array dt {
  padding: 10px;
  border-top-left-radius: 5px;
  font-size: 20px;
  word-break: break-all;
  background: #cfd2db;
  color: #3e3e40;
}

dl#posts-array  dd {
  font-size: 15px;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-bottom-left-radius: 5px;
  word-break: break-all;
  background: #f3f6ff;
  color: #3e3e40;
}

dl#posts-array dd:hover {
  cursor: pointer;
} 

dl#comm-array {
  position: relative;
  bottom: 0px;
  height: 70%;
  margin: 0;
  overflow:hidden; 
  overflow-y:auto;
}

dl#comm-array  dt {
  padding: 10px;
  margin-left: 2px;
  font-size: 15px;
  word-break: break-all;
  background: #cfd2db;
  color: #3e3e40;
}

dl#comm-array  dd.comment {
  font-size: 13px;
  padding: 15px;
  margin-left: 0;
  background: #fff;
  word-break: break-all;
  color: #3e3e40;
}

div.reply {
  display: none; 
}

dl#reply-array{
  margin: 0;
  padding: 0;
}

dl#reply-array dt {
  padding: 5px;
  margin-left: 20px;
  font-size: 14px;
  border-bottom-left-radius: 5px;
  background: #e7e8ed;
}

dl#reply-array dd {
  margin-left: 35px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  background: white;
}

#ribon {
  position: absolute;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}

#delete {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.like_counter {
  z-index:100;
  position: absolute;
  font-family: "Lato";
  text-decoration: none;
  color:black; 
  display:inline-block;
  font-size:15px;
  cursor: pointer;
  margin: 12px;
}

#plus_one {
  z-index:100;
  margin: 11px;
  font-family: "Lato";
  text-decoration: none;
  position:absolute;    
  color:black; 
  font-size:19px;
  cursor: pointer;
  display: none;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
         -ms-animation: fadein 1s; /* Internet Explorer */
          -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#like:hover .like_counter {
  display: none;
}

#like:hover #plus_one {
  display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::-webkit-scrollbar {  
    width: 3px;  
}  
::-webkit-scrollbar-track {  
    background-color: #f3f6ff;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #cfd2db;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  