@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
  background: #FFFFFF ;
	font-family: "Lato" ;
  margin: 0;
}    
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#leftcolumn, #rightcolumn {
    position: absolute;
    top: 40px;
    bottom: 0px;
    color: black;
}
#leftcolumn {
    left: 0px;
    bottom: 0px;
    width: 65%;
    margin-left: 5%;
    margin-right: 0%;
}
#rightcolumn {
    right: 0px;
    width: 30%;
    background-color: #f9faff;
}

#leftcolumn h1, h2 {
  color: gray;
}

#leftcolumn h1 {
    font-size: 200%
}
#leftcolumn h2 {
    font-size: 100%
}

dl#posts-array {
  position: relative;
  bottom: 0px;
  height: 80%;
  margin: 0;
  overflow:hidden; 
  overflow-y:auto;
}

dl#posts-array post {
 /* margin-bottom: 10px; */
}

dl#posts-array  dt {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
  background: #cfd2db;
  color: #3e3e40;
}

dl#posts-array  dd {
  font-size: 15px;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  background: #f3f6ff;
  color: #3e3e40;
}

::-webkit-scrollbar {  
    width: 3px;  
}  
::-webkit-scrollbar-track {  
    background-color: #f3f6ff;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #cfd2db;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  