.dropdownmenu ul, .dropdownmenu li {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 40px;
	margin: 0;
	padding: 0;
	background: #939393;
}
.dropdownmenu ul {
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #ff8e69;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #e57550;
}
#submenu a {
	background-color:#000000;
}

#create-post-page .dropdownmenu a#create-post,
#index-page .dropdownmenu a#go-home
{
	background-color: #ff8e69;
}

#create-post-page .dropdownmenu li:hover a#create-post
{
	background-color: #a8e550;
}

#create-post-page .dropdownmenu li:hover a#logout,
#index-page .dropdownmenu li:hover a#logout
{
	background-color: #e55050;
}