@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
  background: #FFFFFF ;
  font-family: "Lato" ;
  overflow-y: hidden;
  margin: 0;
}

#wrapper {
    width: 100%;
}

#prof_pic {
    background: #cccccc;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-weight: bold;
}

#tables {
  height: auto;
  bottom: 0px;
}

#user,
#user_stats,
#posts_stats {
  margin: 10%;
}

#user_tb,
#user_stats_tb,
#posts_stats_tb {
  width: 100%;
  font-size: 100%;
}

#user #user_tb th,
#user_stats_tb th,
#posts_stats_tb th {
  text-align: center;
  background: #cfd2db;
  padding: 10px;
}

#user #user_tb td
#user_stats_tb td,
#posts_stats_tb td {
  text-align: left;
  padding: 5px;
}

#leftcolumn, #midcolumn, #rightcolumn {
    position: absolute;
    top: 40px;
    bottom: 0px;
    color: black;
}

#leftcolumn {
    left: 0px;
    bottom: 0px;
    width: 15%;
    overflow-y: auto;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #f3f6ff;
}

#midcolumn {
    bottom: 0px;
    width: 55%;
    border-left: dotted #cfd2db;
    margin-left: 15%;
    margin-right: 30%;
}

#rightcolumn {
    right: 0px;
    width: 30%;
    border-left: dotted #cfd2db;
    background-color: #f3f6ff;
}

#leftcolumn h1{
  color: gray;
}

#leftcolumn h1 {
    font-size: 200%
}

#leftcolumn h1{
  color: gray;
  text-align: center;
}

#midcolumn h1, h2 {
  color: white;
}

#midcolumn h1, h2 {
  color: gray;
  text-align: center;
}

#midcolumn h1 {
    font-size: 200%
}

#midcolumn h2 {
    font-size: 100%
}

#rightcolumn h1, h2 {
  color: gray;
  text-align: center;
}

#rightcolumn h1 {
    font-size: 200%
}

#rightcolumn h2 {
    font-size: 100%
}

#create-comm textarea[type="text"] {
  border-radius: 7px 7px 0px 0px ;
  border: 0;
  resize: none;
  font-family: "Lato";
  font-style: italic;
  color: gray;
  padding: 5px;
  width: 90%;
  height: 10%;
  position: absolute;
  margin-bottom: 5%;
  margin-left: 5%;
  bottom: 0px;
  background-color: rgba(256, 256, 256, 0.4);
}

dl#my-posts-array {
  position: relative;
  bottom: 0px;
  height: 80%;
  margin-right: 5px;
  margin-left: 15px;
  overflow:hidden;
  overflow-y:auto;
}

dl#my-posts-array  dt {
  padding: 10px;
  border-top-left-radius: 5px;
  font-size: 20px;
  background: #cfd2db;
  word-break: break-all;
  color: #3e3e40;
}

dl#my-posts-array  dd {
  font-size: 15px;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  word-break: break-all;
  border-bottom-left-radius: 5px;
  background: #f3f6ff;
  color: #3e3e40;
}

dl#my-posts-array dd:hover {

  cursor: pointer;
}

dl#comm-array {
  position: relative;
  bottom: 0px;
  height: 70%;
  margin: 0;
  overflow:hidden; 
  overflow-y:auto;
}

dl#comm-array  dt {
  padding: 10px;
  margin-left: 2px;
  font-size: 16px;
  word-break: break-all;
  background: #cfd2db;
  color: #3e3e40;
}

dl#comm-array  dd {
  font-size: 12px;
  padding: 15px;
  word-break: break-all;
  margin-left: 0;
  border-bottom-left-radius: 5px;
  background: #fff;
  color: #3e3e40;
}

#ribon {
  position: absolute;
  margin-left: 5px;
  float: left;
}
#like_counter {
  z-index:100;
  margin: 11px;
  font-family: "Lato";
  position:absolute;    
  color:black; 
  font-size:auto;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: #f3f6ff;
}
::-webkit-scrollbar-thumb {
    background-color: #cfd2db;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
